@{
    ViewData["Title"] = "Confirmación de Pedido";
}

<div class="container">
    <h1 class="mt-4">Confirmación de Pedido</h1>

    <div class="row">
        <div class="col-md-12">
            <p>Su pedido ha sido procesado exitosamente.</p>
            <!-- Puedes agregar más detalles sobre el pedido aquí -->
            <!-- Enlace para volver a la página de productos -->
            <a href="@Url.Action("Index", "Producto")" class="btn btn-primary">Volver a los Productos</a>
        </div>
    </div>
</div>
